*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(https://images.pexels.com/photos/244517/pexels-photo-244517.jpeg?cs=srgb&dl=pexels-photoklickr-244517.jpg&fm=jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
    border-radius: 100%;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
     /*  Added to acheive hovering */
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* Styling the content section  */
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}
.content p {
    margin: 20px auto;
    font-weight: 100px;
    line-height: 25px;

}

/* Styling the buttons */
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid lightskyblue;
    background: transparent;
    color: white;
    cursor: pointer;
}

/* Adding the hover effect on the nav section */

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: lightskyblue;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}